HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
db.env

# === Java / Maven Build ===
# The 'target' folder contains your compiled .jar files
/target/
pom.xml.bak
*.log



#=== Operating System ===
.DS_Store
Thumbs.db

# === Other ===
# Maven wrapper (if you don't share it)
.mvn/
mvnw
mvnw.cmd